@model PizzaBox.Client.Models.UserHistoryViewModel

@{
    ViewData["Title"] = "User History Page";
}

@if (Model.User.Orders != null)
{
  <p>Orders for @Model.User.Name :</p>
  @foreach (var o in @Model.User.Orders)
  {
    <p>@o.Name, @o.Store.Name</p>
    @foreach (var p in o.Pizzas)
    {
      <p>@p.Size.Name, @p.Crust.Name, @p.PizzaToppings.Count toppings</p>
    }
  }
}

else
{
  <p>You currently have no orders!</p>
}