@model PizzaBox.Client.Models.UserHistoryViewModel

@{
    ViewData["Title"] = "User History Page";
}

@if (Model.User.Orders != null)
{
  <p>Orders for @Model.User.Name :</p>
  @foreach (var o in @Model.User.Orders) if (o.Store.Id == (int)TempData.Peek("StoreId"))
  {
    <p>@o.Name, @o.Store.Name</p>
    @foreach (var p in o.Pizzas)
    {
      <p>@p.Size.Name, @p.Crust.Name, @p.Name, with:</p>
      <p>@foreach (var pt in p.PizzaToppings)
      {
        @pt.Topping.Name
      }
      , Costs: @Model.ViewPizzaPrice(p)</p>
    }
    <p>Order Price: @Model.ViewOrderPrice(o)</p>
    <p></p>
  }
}

else
{
  <p>You currently have no orders!</p>
}

<form action="/user/welcomeredirect" method="post">
  @Html.AntiForgeryToken()
  <input type="submit" value="Return to menu">
</form>